@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');


:root {
        /* Primary */
        --Cyan: hsl(179, 62%, 43%);
        --Bright-Yellow: hsl(71, 73%, 54%);

        /* Neutral */
        --Light-Gray: hsl(204, 43%, 93%);
        --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        display: grid;
        place-items: center;
        min-height: 100vh;
        background-color: var(--Light-Gray);
}

.grid-container {
        width: 35rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border-radius: 8px;
        box-shadow: 5px 5px 30px #accce0;
        overflow: hidden;
}

.column1 {
        grid-column: 1 / 3;
        padding: 2rem;
        background-color: white;
}

.column1 .header {
        color: var(--Cyan);
        margin-bottom: 1.2rem;
}

.column1 .subheading {
        font-size: 1rem;
        font-weight: 700;
        color: var(--Bright-Yellow);
        margin-bottom: 0.7rem;
}

.column1 .paragraph {
        color: var(--Grayish-Blue);
        line-height: 1.7;
}

.column2, .column3 {
        color: var(--Light-Gray);
        padding-top: 2rem;
        padding: 2rem 1.8rem 1.8rem 1.8rem;
}

.sub_header {
        font-size: 1rem;
        font-weight: 700;
        text-align: left;
}

.column2 {
        position: relative;
        grid-column: 1 / 2;
        background-color: var(--Cyan);
        text-align: center;
}

.pricing {
        display: flex;
        gap: 0.5rem;
        margin-top: 1rem;
        text-align: left;
}

.pricing .price {
        font-size: 1.9rem;
        font-weight: 600;
}

.pricing .interval {
        color: hsl(179, 41%, 69%);
        align-self: center;
}

.column2 .paragraph {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        text-align: left;
}

.sign_up {
        border-radius: 6px;
        text-align: center;
        background-color: var(--Bright-Yellow);
        width: 200px;
        padding: 0.6rem 5rem;
        text-decoration: none;
        font-weight: 700;
        color: #fff;
        font-family: 'Karla', sans-serif;
        transition: 0.1s ease-in-out;
        box-shadow: 5px 5px 15px hsl(179, 58%, 36%);
}

.sign_up:hover {
        color: var(--Cyan);
        background-color: hsl(71, 88%, 60%);
}

.sign_up:active {
        color: #fff;
        background-color: hsl(71, 62%, 43%);
}

.column3 {
        background-color: hsla(179, 62%, 43%, 0.8);
}

.column3 .paragraph{
        font-size: 0.7rem;
        font-weight: 200;
        line-height: 1.5;
        padding-right: 4.9rem;
        margin-top: 1rem;
}

.attribution { 
        position: absolute;
        bottom: 10px;
        font-size: 14px; 
        text-align: center; 
}

.attribution a { 
        text-decoration: none;
        color: hsl(228, 45%, 44%); 
}

@media (max-width: 580px) {
        html {
                font-size: 90%;
        }

        .grid-container {
                width: 20rem;
                grid-template-columns: 1fr;
        }

        .column1 {
                grid-column: 1 / 2;
        }

        .sign_up {
                padding-inline: 6.365rem;
        }
}

@media (max-width: 320px) {
        html {
                font-size: 85%;
        }

        .grid-container {
                width: 90%;
        }

        .sign_up {
                padding-inline: 2rem;
        }
}